body
{
	background: rgba(10, 84, 243, 0.979);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#input_text1, #input_text2
{
	border-radius: 20px;
	width: 50%;
	border-width: 5px;
	border-color: rgb(59, 59, 255);
	border-style: solid;
}